extends layout

block content
  h1 Twerts
  form#formNewTwert(name="new-twert", method="post", action="/twerts/new")
    div
      select(name="username")
        option(value="twert") twert
    br
    div
      textarea(name="body", placeholder="What's twertin'?", cols = "50", rows="5")
    br
    div
      button#btnSubmit(type="submit") Submit

  ul
    each twert, i in twerts
      li <strong>
        a(href="/twerts/#{twert.username}") #{twert.username}: </strong>
        | #{twert.body}